
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    margin-top: 0;
  }
  
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .updateUserButton,
  .logoutButton {
    padding: 10px 15px;
    margin-left: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .updateUserButton {
    background-color: #008cba;
  }
  
  .expenseForm {
    margin-top: 20px;
  }
  