.contact-form {
    margin-top: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .contact-form button {
    padding: 8px 16px;
    background-color: #088177;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #086c74;
  }
  